<h2><%= @stores_presenter.count %> Total Stores</h2>

<% @stores_presenter.batch.each do |store| %>
<ul class="store">
  <li class="name"><%= store.name %></li>
  <li class="distance"><%= store.distance %></li>
  <li class="phone_number"><%= store.phone_number %></li>
  <li><%= store.type %></li>
</ul>
<% end %>

<a>Next Page</a>
